extends layout

block content

    div.container(role="main")
        br
        .row
            h1.center-align Acerca de la Academia Lagunensis

        .row
            .col.s12.l6
                .card
                    .card-image
                        img.responsive-img(src='images/mario.jpg' alt="")
                    .card-content
                        span.card-title El Profesor
                        p Francisco Mario Cruz Almeida, licenciado en matemáticas por la Universidad de La Laguna
                            | cuenta con más de 30 años de experiencia dando clases y fue profesor asociado a tiempo
                            | completo durante 22 años en la Universidad de La Laguna

            .col.s12.l6
                .card
                    .card-image
                        img.responsive-img(src='images/academia.jpg' alt="")
                    .card-content
                        span.card-title La Academia
                        p Llevamos los últimos 5 años impartiendo clases. Contamos con XXX metros cuadrados donde
                            | donde impartir las clases.

        .row
            .col.l12
                .card
                    .card-image
                        img.responsive-img(src="images/metodologia." alt="")
                    .card-content
                        span.card-title Metodología
                        p Los grupos de clase son de máximo 6 personas. Nos centramos en una esñanza práctica basada
                            | en el trabajo autónomo bajo supervisión.
