extends layout

block content

    div.container(role="main")
        h1.center-align(tabindex="0") Asignaturas Impartidas en la Academia
        div.row
            .col.s12.l5.offset-l1
                .card.horizontal
                    .card-image
                        img.responsive-img(src="images/pencil-3254409_1920.jpg" alt="")
                    .card-stacked
                        .card-content
                            span.card-title.grey-text.text-darken-4(tabindex="0") Secundaria
                            ul
                                li(tabindex="0") Matemáticas
                                li(tabindex="0") Física y Química

            .col.s12.l5
                .card.horizontal
                    .card-image
                        img.responsive-img(src="images/atom-1674878.png" alt="")
                    .card-stacked
                        .card-content
                            span.card-title.grey-text.text-darken-4(tabindex="0") Bachillerato
                            ul
                                li(tabindex="0") Matemáticas
                                li(tabindex="0") Física
                                li(tabindex="0") Química

        div.row
            .col.s12.l10.offset-l1
                .card.horizontal
                    .card-image
                        img.responsive-img(src="images/books.jpg" alt="")
                    .card-stacked
                        .card-content
                            span.card-title.grey-text.text-darken-4(tabindex="0") Universidad
                            p(tabindex="0") Contamos con apuntes y ejercicios resueltos de un gran número de grados universitarios.
                                | Trabajamos todas las asignaturas relacionadas con matemáticas, física y química de las siguientes ramas:

                            div.row
                                div.col.l6.offset-l1
                                    ul
                                        li(tabindex="0") Ciencias de la Salud
                                        li(tabindex="0") Ingeniería y Arquitectura
                                        li(tabindex="0") Ciencias Sociales y Jurídicas
                                        li(tabindex="0") Ciencias


                            p(tabindex="0") En caso de que el tuyo no se encuentre en el listado, ponte en contacto con nosotros.
