extends layout

block content

    div.container(role="main")
        h1.center-align Asignaturas Impartidas en la Academia
        div.row
            div.col.l4
                div.card
                    div.card-image.waves-effect.waves-block.waves-light
                        img.activator.responsive-img(src="images/pencil-3254409_1920.jpg" alt="")

                    // TODO: Decir al usuario que esto es una tarjeta desplegable
                    div.card-content
                        span.card-title.activator.grey-text.text-darken-4(tabindex="0") Primaria
                            i.material-icons.right more_vert
                        p
                            p(tabindex="0") Asignaturas

                    div.card-reveal
                        span.card-title.grey-text.text-darken-4(tabindex="0") Primaria
                            i.material-icons.right close
                        ul
                            li(tabindex="0") Matemáticas
                            li(tabindex="0") Inglés
                            li(tabindex="0") Lengua


            div.col.l4
                div.card
                    div.card-image.waves-effect.waves-block.waves-light
                        img.activator.responsive-img(src="images/atom-1674878.png" alt="")

                    div.card-content
                        span.card-title.activator.grey-text.text-darken-4(tabindex="0") Secundaria
                            i.material-icons.right more_vert
                        p
                            p(tabindex="0") Asignaturas

                    div.card-reveal
                        span.card-title.grey-text.text-darken-4(tabindex="0") Secundaria
                            i.material-icons.right close
                        ul
                            li(tabindex="0") Matemáticas
                            li(tabindex="0") Física
                            li(tabindex="0") Química