extends layout

block content

    div.parallax-container
        div.parallax
            img(src="images/old-books-436498_1920.jpg" alt="")

    div.section.white(role="main")
        div.row.container
            h2.header(tabindex="0") ¡Bienvenidos!
            p.grey-text.text-darken-3.lighten-3(tabindex="0") Aquí podrás encontrar información y contenidos relacionados con tus clases particulares.

    div.parallax-container
        div.parallax
            img(src="images/phone-1052023_1920.jpg" alt="")

