extends layout

block content

    div.parallax-container
        div.parallax
            img(src="images/old-books-436498_1920.jpg" alt="")

    div.section.white
        div.row.container
            h2.header ¡Bienvenido/a!
            p.grey-text.text-darken-3.lighten-3 Aquí podrás encontrar información y contenidos relacionados con tus clases particulares

    div.parallax-container
        div.parallax
            img(src="images/phone-1052023_1920.jpg" alt="")

