extends layout

block content

    br

    div.container
        .row
            .col.l2.offset-l5.s4.offset-s4
                img.responsive-img(src="images/logo.png")
        .row
            .col.l4.offset-l4.center.s12
                p.flow-text Academia Lagunensis
                p.flow-text Iniciar Sesión
        .row
            form.col.l6.offset-l3
                .row
                    .input-field.col.s12
                        input#email.validate(placeholder="Email" type="email")
                        label(for="email") Email
                .row
                    .input-field.col.s12
                        input#password.validate(placeholder="Contraseña" type="password")
                        label(for="password") Contraseña
                .row
                    .col.l2.offset-l3.offset-s3
                    button.btn.waves-effect.waves-light.purple.darken-2(type="submit" name="action")
                        | Enviar
                        i.material-icons.right send

