extends layout

block content
    br
    .container
        h1.center-align(tabindex="0") Logueado con éxito
        p.flow-text.center-align(tabindex="0") Gracias por iniciar sesión en nuestra plataforma
