extends layout

block content

    br

    .container

        if error

            h1.center-align(tabindex="0") Ha ocurrido un error
            p.flow-text.center-align(tabindex="0") Inténtelo de nuevo más tarde

        else

            h1.center-align(tabindex="0") Mensaje enviado con éxito
                p.flow-text.center-align(tabindex="0") Gracias por contactar con nosotros, le responderemos lo antes posible

