extends layout

block content

    br

    .container

        if error

            h1.center-align Ha ocurrido un error
            p.flow-text.center-align Inténtelo de nuevo más tarde

        else

            h1.center-align Mensaje enviado con éxito
                p.flow-text.center-align Gracias por contactar con nosotros, le responderemos lo antes posible

