extends layout

block content
    br
    .container.flow-text
        ul
            li
                a(href="/") Inicio
            li
                a(href="/asignaturas") Asignatura
            li
                a(href="/contacto") Contacto
            li
                a(href="/about") Acerca de
            li
                a(href="/login") Iniciar Sesion
            li
                a(href="/registro") Registrarse
            li
                a(href="/mapa-web") Mapa Web
    br