extends layout

block content
    br
    .container.flow-text

        .row
            .col.l4.offset-l4.center.s12
                p.flow-text(tabindex="0") Mapa Web

        .row
            .col.l12
                ul
                    li
                        a(href="/") Inicio
                    li
                        a(href="/asignaturas") Asignaturas
                    li
                        a(href="/contacto") Contacto
                    li
                        a(href="/about") Acerca de
                    li
                        a(href="/login") Iniciar Sesión
                    li
                        a(href="/registro") Registrarse
                    li
                        a(href="/mapa-web") Mapa Web
    br
