extends layout

block content
    br
    .container
        h1.center-align(tabindex="0") Registro completado con éxito
        p.flow-text.center-align(tabindex="0") Gracias por registrarse en nuestra plataforma
